@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear:both;
    }
}

@mixin row {
    @include clearfix;
    margin-left: -15px;
    margin-right: -15px;
}
@mixin column {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@mixin one-whole {
    @include column;
    width: 100%;
}
@mixin one-half {
    @include column;
    width: 50%;
}
@mixin one-third {
    @include column;
    width: 100/3 + %;
}
@mixin one-fourth {
    @include column;
    width: 25%;
}
@mixin one-fifth {
    @include column;
    width: 20%;
}

@mixin two-thirds {
    @include column;
    width: 100/1.5 + %;
}
@mixin two-fifths {
    @include column;
    width: 40%;
}

@mixin three-fourths {
    @include column;
    width: 75%;
}
@mixin three-fifths {
    @include column;
    width: 60%;
}

@mixin center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@mixin pull-right {
    float: right;
}

@mixin button {
    appearance: none;
    font-size: inherit;
    padding: 8px 20px;
    width: 100%;
    border-radius: 4px;
    transition-property: background-color, color, border-color, border-width;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}
@mixin button-style($bg: $lemonade-primary, $color: #fff) {
    @include button;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: darken($bg, 5%);
    background-color: $bg;
    color: $color;
    &:hover {
        background-color: darken($bg, 5%);
        border-color: darken($bg, 10%);
    }
}
@mixin button-outline-style($border: $lemonade-primary, $color: #fff) {
    @include button;
    border: 2px solid $border;
    border-bottom-width: 4px;
    border-bottom-color: darken($border, 5%);
    color: $border;
    background-color: transparent;
    &:hover {
        background-color: darken($border, 5%);
        border-color: darken($border, 5%);
        border-bottom-color: darken($border, 10%);
        color: $color;
    }
}
@mixin button-primary {
    @include button-style;
}
@mixin button-primary-outline {
    @include button-outline-style;
}
@mixin button-secondary {
    @include button-style($lemonade-secondary);
}