$lemonade-primary:                  #eed04d; //eec54d;
$lemonade-secondary:                #fc8ba4; //eec54d;
$lemonade-bg:                       #2d3d4a;
$lemonade-card:                     #fff;
$lemonade-card-radius:              5px;